@import url(normalize.css);
@import url(bootstrap.css);
@import url(font-awesome.min.css);
@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular.woff2') format('woff2'),
         url('../fonts/oswald-regular.woff') format('woff'),
         url('../fonts/oswald-regular.ttf') format('truetype'),
         url('../fonts/oswald-regular.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/robotocondensed-light.eot');
    src: url('../fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light.woff2') format('woff2'),
         url('../fonts/robotocondensed-light.woff') format('woff'),
         url('../fonts/robotocondensed-light.ttf') format('truetype'),
         url('../fonts/robotocondensed-light.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/robotocondensed-regular.eot');
    src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular.woff') format('woff'),
         url('../fonts/robotocondensed-regular.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'RobotoCondensedRegular';
	font-size: 16px;
}
.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.ShowBox{
	opacity: 1 !important;
	pointer-events: auto !important;
}
.formated-section{
	padding: 60px 0;
}
.font-oswald{
	font-family: 'OswaldRegular';
}
/*=========== Barra de navegacion ===*/
.NavBarP,
.NavBarP-Logo,
.NavBarP-Nav,
.NavBarP-Nav > ul,
.NavBarP-Nav > ul > li,
.NavBarP-Nav > ul > li > a{
	height: 50px;
	line-height: 50px;
}
.NavBarP{
	
	color: #fff;
	position: relative;
	font-family: 'RobotoCondensedLight';
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.NavBarP-Logo,
.NavBarP-Nav{
	position: absolute;
	top: 0;
	background-color: #4D0686 ;opacity: 0.8;
}
.NavBarP-Logo{
	left: 0;
	width: 30%;
	font-family: 'OswaldRegular';
}
.NavBarP-Nav{
	right: 0;
	width: 70%;
}
.NavBarP-Nav > ul{
	text-align: right;
	padding-right: 10px;
}
.NavBarP-Nav > ul > li{
	display: inline-block;
	position: relative;
}
.NavBarP-Nav > ul > li > a{
	color: #fff;
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 0 7px;
	transition: all .3s ease-in-out;
}
.NavBarP-Nav > ul > li > a:hover{
	color: #FAE76F;
}




@media (max-width: 767px) {
	.NoScroll{
		overflow-y: hidden;
	}
    .NavBarP-Logo{
    	width: 100%;
    	z-index: 99;
    	position: fixed;
    	border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    .NavBarP-Nav{
    	width: 100%;
    	padding-top: 50px;
    	height: 100%;
    	z-index: 97;
    	position: fixed;
    	opacity: 0;
    	pointer-events: none;
    	transition: all .3s ease-in-out;
    }
    .NavBarP-Nav > ul{
    	padding-right: 0;
    	text-align: center;
    	height: 100%;
    }
    .NavBarP-Nav > ul > li{
		display: block;
    }
    .btn-menuMobile{
    	position: absolute;
    	z-index: 100;
    	top: 0;
    	right: 0;
    	color: #fff;
    	height: 50px;
    	width: 50px;
    	cursor: pointer;
    	line-height: 50px;
    	font-size: 25px;
    	transition: all .3s ease-in-out;
    }
    .btn-menuMobile:hover{
		color: #FAE76F;
	}
   
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* col-lg */
@media (min-width: 1200px) {
    
}

